@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "PT Sans", " Arial" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: #F2F2F2;
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  font-weight: 700;
}

html {
  height: 100%;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header {
  color:#000000;
  background: #FFFFFF;
}

.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-link  {
  font-family: "PT Sans", sans-serif;
  line-height: 24px ;
  color:#000000;
  font-weight: 700;
  text-align: center;
  background:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.site-navigation{
  margin: 0;
  width: 420px;
  padding: 20px 16px;
}

.navigation-user {
  padding-top: 14px;
  max-width: 360px;
  margin-left: auto;
}

.want {
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  background-color: #756157;
  color:#FFFFFF;
}

.page-container {
width: 1200px;
margin: 0 auto;
}

.main-index {
  color:#000000;
  background-color: #FFFFFF;
}

.hero {
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
}

.text {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  padding: 69px 0px 69px 0px;
}

.heading {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.main-hotels {
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  background-color: #756157;
  color:#FFFFFF;
  text-decoration: none;
}

.subscription {
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #FFFFFF;
  width: 1200px;
  height: 414px;
}

.subsription-item {
  padding: 100px 256px;
}

.main-footer a {
  color: #000000;
  background:#FFFFFF;
}

.page-footer-container {
   padding: 35px 51px 35px 92px;
   width: 1200px;
   margin: 0 auto;
   display: flex;
 }

.footer-link {
  width: 142px;
  margin-right: 92px;
  display: flex;
  padding: 15px;
}

.footer-item {
  padding: 0px 10px;
}

.main-footer {
  background-color: #FFFFFF;
  display: flex;
  width: auto;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.contact-adress {
  margin-left: auto;
  margin-right: auto;
 text-align: center;
}

.phone {
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
}

.invitation {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto
 }

.main-inner {
  background-color: #FFFFFF;
}

.inner-header-title {
  font-family: "PT sans" sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.product-card-title {
  color:#000000;
  background-color: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
}
.product-card-button {
  text-decoration: none;
}

.product-list {
  text-decoration: none;
}

.pagination{
  color:#FFFFFF;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.advantages {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
}

  /* ТУТ */
.advantages-item {
  padding: 93px 85px;
  outline: none;
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}

.advantages-item-square,
.advantages-item-bridge {
  width: 200px;
  height: 200px;
  outline: none;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-road {
 width: 200px;
 height: 200px;
 outline: none ;
 background-color: rgba(131, 179, 211, 0.2);
 color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

  .recommendation {
   justify-content: space-between;
   display: flex;
   text-align:center;
   margin: 0;
   padding: 0;
  }

  .block-house,
  .block-suvenir {
 outline: none ;
 background-color: rgba(131, 179, 211, 0.2);
 color: #000000;
 padding: 81px 85px;
  }

.block-food {
  outline: none;
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
  padding: 81px 85px;
 }

.reset-list {
  display: flex;
  justify-content:center;
}

.invitation {
  padding: 64px 0px;
}

.search-hotels {
 padding: 96px 304px;
}

.navigation-item {
  margin-right: 20px;
}
