body {
  background-color: silver;
}
@font-face {
  font-family: "font";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2"),
       url("/fonts/ptsans-700.woff2") format("woff2");
}
