@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", " Arial" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: #FFFFFF;
}
.main-header {
  color:#000000;
  background: #FFFFFF;
}
.navigation-link  {
  font-family: "PT Sans", sans-serif;
  line-height: 21px ;
  color:#000000;
  font-weight: 700;
  text-align: center;
  background:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
/*
.site-navigation{
  display: flex;
  align-items: center;
  padding: 0px;
}
*/
.hero {
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.text {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.search-hotels {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.subscription {
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #FFFFFF;
}
.main-footer a {
  color: #000000;
  background:#FFFFFF;
}
.main-footer{
  background-color: #FFFFFF;
}
.invitation {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}
IMG.logo {
  display: block;
  margin-left: auto;
  margin-right: auto
 }

 .visually-hidden {
  position: fixed;
  transform: scale(0);
}
