@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
}

body {
  font-family: "PT Sans", " Arial" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: #F2F2F2;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header {
  color:#000000;
  background: #FFFFFF;
}

.navigation-link  {
  font-family: "PT Sans", sans-serif;
  line-height: 24px ;
  color:#000000;
  font-weight: 700;
  text-align: center;
  background:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.want {
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  background-color: #756157;
  color:#FFFFFF;
}

.main-index {
  color:#000000;
  background-color: #FFFFFF;
}
/*
.site-navigation{
  display: flex;
  align-items: center;
  padding: 0px;
}
*/
.hero {
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
}

.text {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.heading {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.main-hotels {
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  background-color: #756157;
  color:#FFFFFF;
  text-decoration: none;
}

.subscription {
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #FFFFFF;
}

.main-footer a {
  color: #000000;
  background:#FFFFFF;
}

.main-footer{
  background-color: #FFFFFF;
}

.phone {
  text-decoration: none;
}

.invitation {
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto
 }

.main-inner{
  background-color: #FFFFFF;
}

.inner-header-title {
  font-family: "PT sans" sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.product-card-title {
  color:#000000;
  background-color: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
}
.product-card-button {
  text-decoration: none;
}

.product-list {
  text-decoration: none;
}

.pagination{
  color:#FFFFFF;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.advantages {
  text-align: center;
}

.advantages-item {
  width: 200px;
  height: 200px;
  outline: none;
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}

.advantages-item-square,
.advantages-item-bridge {
  width: 200px;
  height: 200px;
  outline: none;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-road {
 width: 200px;
 height: 200px;
 outline: none ;
 background-color: rgba(131, 179, 211, 0.2);
 color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
